a {
  color: #dd5566;
}

a:hover {
  text-decoration:none;
}

a.nav {
  font-size: 1.5em;
  font-weight: bold; 
  text-decoration: none; 
  border: 2px solid #dd5566;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
body {
 background: url(asset-path('laptop-background.jpg')) no-repeat fixed center; 
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.bottom-nav {
  float:left;
  margin-bottom: 20px;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  font-size: 1.1em;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 1em;
}
.text, .show-user p {
  
}
.show-pin, .show-user {
  margin-top: 50px;
  background-color: #fff;
  padding: 40px;  
  border-radius: 1em;  
  box-shadow: 5px 5px 5px #ebebeb;
}
.show-pin img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
hr{
  clear:both;
}
logo-thumbnail {
  padding: 5px;
}
ul.list-inline {
  color: #666;
  list-style-type:none;
}
input[type=submit] {
  width:25%;
  height: 60px;
  background: #dd5566;
  box-shadow: none;
  border: 0;
  color: #fff;
  font-size: 1.5em;
  margin: 50px 0px 10px 0px;
}

label {
  margin-top: 20px;
  font-size: 1.3em;
}

