a {
  color: #dd5566;
}
body {
 background: url(asset-path('laptop-background.jpg')) no-repeat fixed center; 
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 1em;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
  border-radius: 1em;  
  box-shadow: 5px 5px 5px #ebebeb;
}
hr{
  clear:both;
}
logo-thumbnail {
  padding: 5px;
}

input[type=submit] {
  width:25%;
  height: 60px;
  background: #dd5566;
  box-shadow: none;
  border: 0;
  color: #fff;
  font-size: 1.5em;
  margin: 50px 0px 10px 0px;
}

label {
  margin-top: 20px;
  font-size: 1.3em;
}